* {
  margin: 0;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #45B8AC;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #45B8AC;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


.book-preview{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90vw;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr{
  border: 1px solid #dddddd;
}

formShelf form{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.formShelf form h2{
  background: #45B8AC;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color:black;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;

}

.formShelf label, select{
  font-size: large;
}

.formShelf input[type='submit']{
  width: 50%;
  margin-top: 20px;
  background-color: #45B8AC;
}